body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: cyan;
    font-family: Arial, sans-serif; 
}

input {
    padding: 10px;
    width: 20%; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: 800;
    font-size: 2em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#randomNumber {
    padding: 10px;
}
