:root {
  
  font-family: 'Roboto', system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;

 
  color-scheme: light dark;
  
  color: rgba(235, 235, 235, 0.9);
 
  background-color: #1e1e1e;

 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  
  font-weight: 600;
  
  color: #ff7e5f;
  
  text-decoration: none;
}
a:hover {
 
  color: #f45d48;
}

body {

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
 
  font-size: 2.8em;
  line-height: 1.2;
}

button {
  
  border-radius: 12px;
  
  border: 2px solid transparent;
  
  padding: 0.8em 1.4em;
 
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;

  background-color: #3d3d3d;
  cursor: pointer;
  
  transition: background-color 0.25s, border-color 0.25s;
}
button:hover {
 
  border-color: #ff7e5f;
}
button:focus,
button:focus-visible {
 
  outline: 4px auto #ff7e5f;
}

@media (prefers-color-scheme: light) {
  :root {
   
    color: #2c3e50;
    background-color: #ecf0f1;
  }
  a:hover {
   
    color: #fd9644;
  }
  button {
    background-color: #fafafa;
  }
}
